html{margin: 0;padding: 0}
.layui-container{
	padding-left: 20px;
	padding-right: 20px;
}
.layui-container h2{
	margin: 20px auto;
	width: 400px;
	font-size: 20px;
	text-align: center;
	color: #009ACD;
	padding-bottom: 10px;
 }
.layui-container table th{
	text-align: center;
	letter-spacing: 2px;
}
.layui-container table td{
	text-align: center;
	overflow: hidden;
	word-break: break-all;
}
.layui-container table td .layui-btn{
	line-height: 30px;
	height: 30px;
}
.layui-container .page-nav{
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: center;
}

/* user edit page */
.layui-container .user-edit{
	height: auto;
	margin-top: 30px;
	margin-left: 20%;
	width: 80%;
}
.layui-container .user-edit .layui-form-item{
	margin-top: 30px;
}
.layui-container .user-edit .layui-form-item .layui-form-label{
	text-align: center;
}
.layui-container .user-edit .layui-input{
	height: 35px;
}
/* 专家图片部分 */
.layui-container .expert-img{
	width: 500px;
	text-align: center;
	margin: 20px auto;
	/*margin-left: 10%;*/
	height: 200px;
	border:0.1px;
	padding: 0;
	background-color: #FBFBFB;
}
.layui-container .expert-img img{
	width: 130px;
	height: 180px;
	margin-top: 10px;
	float: left;
	margin-left: 30px;
}
.layui-container .expert-img .button{
	margin-left: 30px;
	float: left;
}

/* picture show  */
.pic-show{
	margin-top: 50px;
	width: 80%;
	margin-left: 10%;
	height: auto;
	margin-bottom: 1px;
	overflow:auto;
}
.pic-show .pic-content{
	width: 160px;
	height: 150px;
	float: left;
	margin-left: 30px;
	margin-bottom: 40px;
	border: 1px solid #F5F5F5
	/*background-color: #F5F5F5;*/
}
.pic-show .pic-content img{
	width: 160px;
	height: 120px;
}
.pic-show .pic-content button{
	margin-top: 5px;
	height: 20px;
	width: 40px;
	line-height: 0;
	font-size: 10px;
	font-weight: 500;
	padding: 0;
}
.line{
	width: 80%;
	margin-left:10%;
	margin-top: 30px; 
	height: 1px;
	background-color: #009ACD;
}

/* add picture */
.add-pic{
	margin-top: 50px;
	width: 80%;
	margin-left: 10%;
	height: auto;
	overflow:auto;
	background-color: #f0ffff;
}

/*  网站基本信息 */
.layui-container h1{
	margin: 20px auto;
	width: 400px;
	font-size: 24px;
	text-align: center;
	color: #009ACD;
	padding-bottom: 10px;
 }
 .web-show{
 	padding-top: 20px;
 	width: 80%;
 	height: auto;
 	margin-left: 10%;
 	border: 2px solid #F5F5F5;
 	padding-bottom: 20px;
 	overflow: auto;
 }
.web-show .content-show{
	margin: 0 auto;
} 
.web-show .content-show p{
	font-size: 18px;
	line-height: 30px;
	color: #009ACD;
	font-weight: 400;
	text-align: center;
}

/* video show  */
.cover-show{
	height: 180px;
	width: 80%;
	max-width: 600px;
	border: 2px solid #F5F5F5;
}
.cover-show img{
	margin-left: 30px;
	margin-top: 30px;
	width: 200px;
	height: 120px;
	float: left;
}
.video-show{
	height: 280px;
	width: 80%;
	max-width: 600px;
	border: 2px solid #F5F5F5;
}
.video-show .video-content{
	/*margin-top: 20px;*/
	width: 360px;
	height: 240px;
	margin: 20px auto;
	background-color: black;
}
.video-show .video-content video{
    height: 240px;
    width: 100%;
    padding: 0.1px;
    border:0.1px;
    background-color: black;
}

/* 增加视频的css */
.add-content{
	width: 100%;
	margin: 30px auto;
	height: auto;
	overflow: auto;
}
.add-content .add-cover{
	margin-top: 5px;
	height: 180px;
	width: 80%;
	max-width: 600px;
	border: 2px solid #F5F5F5;
}
.add-content .add-cover img{
	margin-left: 30px;
	margin-top: 30px;
	width: 200px;
	height: 120px;
	float: left;
}
.add-content .add-video{
	margin-top: 5px;
	height: 80px;
	width: 80%;
	max-width: 600px;
	border: 2px solid #F5F5F5;
}
.add-content .add-video p{
	margin-top: 30px;
	margin-left: 130px;
	font-size: 16px;
}
.add-content .upload-all
{
	margin-top: 5px;
	height: 80px;
	width: 80%;
	max-width: 600px;
	border: 2px solid #F5F5F5;
}
#resultBox {
	width: 100%;
	height: auto;
	border: 1px solid #F5F5F5;
	padding: 5px;
	overflow: auto;
	padding-bottom: 30px;
}
.uploaderMsgBox {
	width: 100%;
	/*border-bottom: 1px solid #888;*/
}







