html{
    margin: 0;
    padding: 0;
    height: 100%;
}
html body{
    margin: 0;
    padding: 0;
    height: 100%;
}
html body .div-layout{
    height: auto;
    position: relative; 
    min-height: 100%;
    padding-bottom: 240px;
}
.nav{height:100px;background:#009ACD; border: 0.1px;padding: 0.1px;}
.nav .logo{
    height: 80px; 
    margin-top: 10px; 
    width: 20%;
    float: left;
}
.nav .logo img{
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 60px;
}
.nav .layui-nav{
    width: 50%;
    background-color:#009ACD; 
    margin-top: 20px;
    height: 10px;
    float: left;
}
.nav .layui-nav h1{
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 50px;   
    /*line-height: 10px;*/
}
.nav .layui-nav .layui-nav-item{
    margin-right: 3%;
}


.nav .right-nav{
    width: 180px;
    height: 60px;
    margin-top: 40px;
    float: right;
}
.nav .right-nav  .login-icon{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    float: left;
}
.nav .right-nav  .login-word{
    margin-top: 10px;
    font-size: 16px;
    padding-left: 20px;
    float: left;
    width: 120px;
}
.nav .right-nav .login-word a{
    color: #fff;
}
.nav .right-nav .login-word label{
    color: #fff; 
    margin-left:5px;
    margin-right: 5px;
}
/*search*/

.index-search{
    height: 90px;
    border: 0.1;
    padding: 0;
    background-color: #ffffff;
}
.index-search .search-bar{
    width: 75%;
    margin-left: 15%;
    height: 40px;
    margin-top: 20px;
}
.index-search .search-bar .search-input{
    border: 2px;
    margin-left: 0;
    width: 80%;
    float: left;
}


.index-search .search-option{
    width: 75%;
    margin-left: 15%;
    margin-top: 10px;
    height: 40px;
}
.index-search .search-option label{
    width: 35px;
    float: left;
    font-size: 14px;
    margin-top: 3px;
    color: #009ACD;
}
.index-search .search-option select{
 /*   appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;*/
    margin-left: 20px;
    height: 26px;
    width: 70px;
    font-size: 12px;
    border:solid 1px #009ACD;
    float: left;
}

/*expert*/
.index-back{
    height: 290px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
}
.index-expert{
    height: 290px;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #EBEBEB;*/
}
.index-expert .expert-title{
    width: 100%;
    height: 90px;
}
.index-expert .expert-title img{
    margin-top:30px;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 3%;
}
.index-expert .expert-title h1{
    width: 60%;
    margin-top:35px;
    height: 40px;
    font-size: 26px;
    padding-left: 15px;
    float: left;
}

.expert-title p{
    height: 40px;
    font-size: 20px;
    float: right;
    margin-top:20px;
    margin-right: 3%;
}
.expert-title p a{
    color: #009ACD;
    vertical-align: -webkit-baseline-middle;
}
/*expert content*/
.index-expert .expert-content{
    height: 200px;
    width: 100%;
}
.index-expert .expert-content .content{
    height: 160px;
    width: 30%;
    float: left;
    margin-left: 3%;
    /*background-color: #fff0f5;*/
}
.index-expert .expert-content .content .img-border{
    width: 110px;
    height: 110px;
    border-radius:110px;
    float: right;
    background-color: #fff; 
    margin-right: 25px;
}
.index-expert .expert-content .content .img-border img{
    width: 90px;
    height: 90px;
    border-radius:90px;
    margin:10px 10px;
    background-color: #009ACD; 
    border:0;
}
.index-expert .expert-content .content .word{
    width: 100%;
    background-color: #fff;
    margin-top: 40px;
    height: 120px;
}
.index-expert .expert-content .content .word .name-title{
    width: 70%;
    height: 120px;
    padding: 0.1px;
}
.index-expert .expert-content .content .word .name-title h2{
    margin-left: 30px;
    font-size: 22px;
    margin-top: 20px;
    padding-top: 0.1px;
    padding-bottom: 5px;
}
.index-expert .expert-content .content .word .name-title p{
    margin-top: 5px;
    font-size: 14px;
    margin-left: 30px;
    font-weight: 400;
}

/*video*/
.video-title{
    margin-top: 80px;
    width: 100%;
    height: 40px;
}
.video-title img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 3%;
}
.video-title h1{
    width: 60%;
    margin-top:5px;
    height: 40px;
    font-size: 26px;
    padding-left: 15px;
    float: left;
}

.video-title p{
    height: 40px;
    font-size: 20px;
    float: right;
    margin-top:5px;
    margin-right: 10px;
    position: relative;
}
.video-title p a{
    color: #009ACD;
    vertical-align: -webkit-baseline-middle;
}


.video-line{
    margin-top: 15px;
    width: 96%;
    height: 1.5px;
    margin-left: 3%;
    background-color: #009ACD;
}
.video-content{
    width: 100%;
    height: 270px;
    margin-top: 30px;
    /*background-color: #F5F5F5;*/
}
.video-content .content{
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 3%;
    /*background-color: #fff0f5;*/
    padding: 0.1px;
}
.video-content .content .video-show{
    height: 200px;
    width: 100%;
}
.video-content .content .video-show video{
    height: 200px;
    width: 100%;
    padding: 0.1px;
    border:0.1px;
    background-color: black;
}
.video-content .content .video-label{
    padding-top:10px;
    height: 70px;
    background-color: #F5F5F5;
}
.video-content .content .video-label h3{
    font-size: 16px;
    width: 90%;
    margin-left: 10px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.video-content .content .video-label .left-label{
    font-size: 14px;
    width: 40%;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: left;
}
.video-content .content .video-label .right-label{
    font-size: 14px;
    width: 40%;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: right;
}

/*article*/
.article-title{
    margin-top: 80px;
    width: 100%;
    height: 40px;
}
.article-title img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 3%;
}
.article-title h1{
    width: 60%;
    margin-top:5px;
    height: 40px;
    font-size: 26px;
    padding-left: 15px;
    float: left;
}

.article-title p{
    height: 40px;
    font-size: 20px;
    float: right;
    margin-top:5px;
    margin-right: 10px;
}
.article-title p a{
    color: #009ACD;
    vertical-align: -webkit-baseline-middle;
}

.article-line{
    margin-top: 15px;
    width: 96%;
    height: 1.5px;
    margin-left: 3%;
    background-color: #009ACD;
}
.article-content{
    height: auto;
    width: 100%;
    overflow: auto;
    margin-top: 30px;
}
.article-content .article-show{
    width: 50%;
    height: 40px;
    float: left;
}
.article-content .article-show .article-label{
    width: 80%;
    margin-left: 10%;
    height: 100%;
    float: right;
}

.article-content .article-show .article-label .radius{
   margin-top: 12px;
   width:16px;
   height:16px;
   display: inline-block;
   font-size:20px;
   line-height:16px;
   text-align:center;
   color:#009ACD;
   padding-right: 20px;
   text-decoration:none;
   float: left;
}
.article-content .article-show .article-label p{
    width: 60%;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 400;
    line-height: 40px;
    padding: 0.1px;
    border:0.1px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: left;
}
.article-content .article-show .article-label .time{
    width: 20%;
    font-weight: 400;
    line-height: 40px;
    float: right;
    font-size: 16px;
    min-width: 100px;
}
.article-content .article-show .article-label p a{
      font-size: 14px;
}
/* audio */
.audio-title{
    margin-top: 80px;
    width: 100%;
    height: 40px;
}
.audio-title img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 3%;
}
.audio-title h1{
    width: 60%;
    margin-top:5px;
    height: 40px;
    font-size: 26px;
    padding-left: 15px;
    float: left;
}

.audio-title p{
    height: 40px;
    font-size: 20px;
    float: right;
    margin-top:5px;
    margin-right: 10px;
}
.audio-title p a{
    color: #009ACD;
    vertical-align: -webkit-baseline-middle;
}

.audio-line{
    margin-top: 15px;
    width: 96%;
    height: 1.5px;
    margin-left: 3%;
    background-color: #009ACD;
}
.audio-content{
    height: 200px;
    width: 100%;
    /*background-color: #F5F5F5;*/
}
.audio-content .content{
    width: 20%;
    height: 200px;
    padding:0;
    margin:0;
    float: left;
}
.audio-content .content .content-show{
    width: 80%;
    margin-left: 10%;
    height: 200px;
    border:0.1px;
    padding: 0.1px;
    /*background-color: #fff0f5;*/
}
.audio-content .content .content-show .pcalss1{
    margin-top: 50px;
    margin-left: 15px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}

.audio-content .content .content-show .pcalss2{
    margin-top: 50px;
    margin-left: 15px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}

.audio-content .content .content-show .audio-btn{
    width: 60%;
    height: 80px;
    padding-top: 30px;
    border:0.1px;
    margin:0 auto;
    /*text-align: center;*/
    /*background-color: red;*/
}
.audio-content .content .content-show .audio-btn .on{
    width: 80px;
    height: 80px;
    margin:0 auto;
    /*text-align: center;*/
    background: url('/static/images/audio-on.png') no-repeat 0 0;
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 10s linear infinite;
    background-size: 100% 100%;
}
.audio-content .content .content-show .audio-btn .off{
    width: 80px;
    height: 80px;
    margin:0 auto;
    /*text-align: center;*/
    background: url('/static/images/audio-off.png') no-repeat 0 0;
    background-size: 100% 100%;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*picture*/
.picture-title{
    margin-top: 80px;
    width: 100%;
    height: 40px;
}
.picture-title img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 3%;
}
.picture-title h1{
    width: 60%;
    margin-top:5px;
    height: 40px;
    font-size: 26px;
    padding-left: 15px;
    float: left;
}

.picture-title p{
    height: 40px;
    font-size: 20px;
    float: right;
    margin-top:5px;
    margin-right: 10px;
}
.picture-title p a{
    color: #009ACD;
    vertical-align: -webkit-baseline-middle;
}
.picture-line{
    margin-top: 15px;
    width: 96%;
    height: 1.5px;
    margin-left: 3%;
    background-color: #009ACD;
}
.picture-content{
    height: 180px;
    margin-top: 30px;
    width: 100%;
    /*background-color: #F5F5F5;*/
}
.picture-content .content{
    width: 25%;
    height: 180px;
    padding:0.1px;
    float: left;
}
.picture-content .content .content-show{
    width: 88%;
    margin-left: 12%;
    height: 180px;
    border:0.1px;
    padding: 0.1px;
    /*background-color: #fff0f5;*/
}.picture-content .content .content-show a{
    text-decoration: none;
    cursor: pointer;
}
.picture-content .content .content-show a:hover{
    text-decoration: none;
}
.picture-content .content .content-show a:hover .label-word {
    background-color: #8B8878;
    width: 99%;
}
.picture-content .content .content-show a:hover > img{
    height: 139px;
    width: 99%;
}
.picture-content .content .content-show img{
    height: 140px;
    width: 100%;
}
.picture-content .content .content-show .label-word{
    height: 30px;
    width: 100%;
    background-color: #117CA1;
    border:0.1px;
}
.picture-content .content .content-show .label-word p{
    padding-top: 5px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    overflow : hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
}

/*powe point*/
.point-title{
    margin-top: 80px;
    width: 100%;
    height: 40px;
}
.point-title img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 3%;
}
.point-title h1{
    width: 60%;
    margin-top:5px;
    height: 40px;
    font-size: 26px;
    padding-left: 15px;
    float: left;
}
.point-title p{
    height: 40px;
    font-size: 20px;
    float: right;
    margin-top:5px;
    margin-right: 10px;
}
.point-title p a{
    color: #009ACD;
    vertical-align: -webkit-baseline-middle;
}
.point-line{
    margin-top: 15px;
    width: 96%;
    height: 1.5px;
    margin-left: 3%;
    background-color: #009ACD;
}
.point-content{
    width: 100%;
    height: 270px;
    margin-top: 30px;
    /*background-color: #F5F5F5;*/
}
.point-content .content{
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 3%;
    /*background-color: #fff0f5;*/
    padding: 0.1px;
}
.point-content .content .point-show{
    height: 200px;
    width: 100%;
}
.point-content .content .point-show img{
    height: 200px;
    width: 100%;
    padding: 0.1px;
    border:0.1px;
    background-color: black;
}
.point-content .content .point-label{
    padding-top:10px;
    height: 70px;
    background-color: #F5F5F5;
}
.point-content .content .point-label h3{
    font-size: 16px;
    width: 90%;
    margin-left: 10px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.point-content .content .point-label .left-label{
    font-size: 14px;
    width: 40%;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: left;
}
.point-content .content .point-label .right-label{
    font-size: 14px;
    width: 40%;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: right;
}
/* about us*/
.about-title{
    margin-top: 80px;
    width: 100%;
    height: 40px;
}
.about-title img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 3%;
}
.about-title h1{
    width: 60%;
    margin-top:5px;
    height: 40px;
    font-size: 26px;
    padding-left: 15px;
    float: left;
}
.about-line{
    margin-top: 15px;
    width: 96%;
    height: 1.5px;
    margin-left: 3%;
    background-color: #009ACD;
}
.about-content{
    margin-top: 30px;
    height: auto;
    width: 95%;
    margin-left: 3%;
    font-weight: 400;
    text-align: left;
}
.about-content p{
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    word-break: break-all;
}

/*footer*/
.footer{
    width: 100%;
    height: 200px;
    background-color: #009ACD;
    border:0.1px;
    margin-top: 100px;
    padding: 0;
    bottom: 0px;
    position: absolute;
}
.footer .layui-container .footer-content{
    width: 30%;
    margin-left: 3%;
    height: 200px;
    float: left;
    padding: 0.1px;
    /*background-color: #fff0f5;*/
}
.footer .layui-container .footer-content ul{
    text-align: left;
    margin-left: 5%;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}












