
html{-webkit-text-size-adjust:none;}
.nav{height:100px;background:#009ACD; border: 0.1px;padding: 0.1px;}
.nav .logo{
    height: 50px; 
    margin-top: 20px; 
    width: 25%;
    float: left;
}
.nav .layui-nav{
    width: 50%;
    background-color:#009ACD; 
    margin-top: 40px;
    height: 50px;
    float: left;
}
.nav .layui-nav .layui-nav-item{
    padding-right: 5%;
}

.nav .layui-nav a{
    font-size: 15px;
    color: #fff;
}
.nav .right-nav{
    width: 180px;
    height: 60px;
    margin-top: 40px;
    float: right;
}
.nav .right-nav  .login-icon{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    float: left;
}
.nav .right-nav  .login-word{
    margin-top: 10px;
    font-size: 16px;
    padding-left: 20px;
    float: left;
    width: 120px;
}
.nav .right-nav .login-word a{
    color: #fff;
}
/*search*/

.index-search{
    height: 90px;
    border: 0.1;
    padding: 0;
    background-color: #ffffff;
}
.index-search .search-bar{
    width: 75%;
    margin-left: 15%;
    height: 40px;
    margin-top: 20px;
}
.index-search .search-bar .search-input{
    border: 2px;
    margin-left: 0;
    width: 80%;
    float: left;
}
/*.index-search .search-bar .sub-button
{
    width: 80px;
    height: 38px;
    background-color: #009ACD;
    border: 0;
    padding: 0;
}
*/
.index-search .search-option{
    width: 75%;
    margin-left: 15%;
    margin-top: 10px;
    height: 40px;
}
.index-search .search-option label{
    width: 35px;
    float: left;
    font-size: 14px;
    margin-top: 3px;
    color: #009ACD;
}
.index-search .search-option select{
 /*   appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;*/
    margin-left: 20px;
    height: 26px;
    width: 70px;
    font-size: 12px;
    border:solid 1px #009ACD;
    float: left;
}

/*expert*/
.index-expert{
    height: 290px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
}
.index-expert .expert-title{
    width: 100%;
    height: 90px;
}
.index-expert .expert-title img{
    margin-top:30px;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 3%;
}
.index-expert .expert-title h1{
    width: 60%;
    margin-top:35px;
    height: 40px;
    font-size: 26px;
    padding-left: 15px;
    float: left;
}
/*expert content*/
.index-expert .expert-content{
    height: 200px;
    width: 100%;
}
.index-expert .expert-content .content{
    height: 160px;
    width: 30%;
    float: left;
    margin-left: 3%;
    /*background-color: #fff0f5;*/
}
.index-expert .expert-content .content .img-border{
    width: 110px;
    height: 110px;
    border-radius:110px;
    float: right;
    background-color: #fff; 
    margin-right: 25px;
}
.index-expert .expert-content .content .img-border img{
    width: 90px;
    height: 90px;
    border-radius:90px;
    margin:10px 10px;
    background-color: #009ACD; 
    border:0;
}
.index-expert .expert-content .content .word{
    width: 100%;
    background-color: #fff;
    margin-top: 40px;
    height: 120px;
}
.index-expert .expert-content .content .word .name-title{
    width: 70%;
    height: 120px;
    padding: 0.1px;
}
.index-expert .expert-content .content .word .name-title h2{
    margin-left: 30px;
    font-size: 22px;
    margin-top: 20px;
    padding-top: 0.1px;
    padding-bottom: 5px;
}
.index-expert .expert-content .content .word .name-title p{
    margin-top: 5px;
    font-size: 16px;
    margin-left: 30px;
    font-weight: 400;
}

/*video*/
.video-title{
    margin-top: 80px;
    width: 100%;
    height: 40px;
}
.video-title img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 3%;
}
.video-title h1{
    width: 60%;
    margin-top:5px;
    height: 40px;
    font-size: 26px;
    padding-left: 15px;
    float: left;
}
.video-line{
    margin-top: 15px;
    width: 97%;
    height: 1.5px;
    margin-left: 3%;
    background-color: #009ACD;
}
.video-content{
    width: 100%;
    height: 280px;
    margin-top: 30px;
    background-color: #F5F5F5;
}
.video-content .content{
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 3%;
    /*background-color: #fff0f5;*/
    padding: 0.1px;
}
.video-content .content video{
    height: 200px;
    width: 100%;
    padding: 0;
    background-color: black;
}



/*.index-search .search-option select option{
    font-size: 14px;
}*/


/*.clarity{
    width: 100%;
    height: 44px; 
    margin-top: 65%;
    background-color: rgba(12, 177, 204, 0.5); IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 
}

.after-clarity{
    width: 100%;
    height: 220px; 
    background-color: rgba(12, 177, 204, 0.5);  IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 
}*/

/*.after-clarity p{
    color: #FFFFFF;
}

.clarity p{
    color: #FFFFFF;
}
@media \0screen\,screen\9 {
  .clarity{
        background-color:#000000;
        filter:Alpha(opacity=50);
        position:static; 
        *zoom:1; 
  }
  .clarity p{
        position: relative;
  }  
}*/

/*.quick-detail-item {
    background: url(../images/image2.png) center no-repeat;
    background-size: cover; 
    width: 48%; 
    float: left;
    height: 220px;
    margin-top: 3px;
    margin-left: 5px;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: #E8E8E8;
}

.footer p {
    font-size: 14px;
    margin-left: 5%;
    padding-top: 5px;
}

.search-form {
    text-align:center;
    margin: 30px auto;
}

.search-form-item {
    width: 120px; 
    margin-left: 20px;
}

.quick-nav {
    width: 75%;
    margin-left: 10%; 
    height: 100%; 
    background-color: #E8E8E8; 
    padding-bottom: 10px;
}

.quick-nav-title{
    height: 25px;  
    background-color: #1792CD; 
    padding: 0.1px; 
    border: 0.1px;
}

.quick-nav-title p {
    margin-top: 4px; 
    font-size: 12px; 
    color: #fff; 
    font-weight: 400
}

.site-tree-item {
    height: auto;
    width: 100%;
    margin-top: 30px; 
    margin-left: 30px;
}

.site-tree-item label {
    font-weight: 400;
}

.site-tree-item ul {
    line-height: 30px; 
    font-weight: 300;
}

.index-video {
    height: 100%; 
    background-color: #F5F5F5; 
    overflow:hidden; 
    padding-bottom: 10px;
}

.index-video-title {
    height: 25px;  
    background-color: #1792CD; 
    padding: 0.1px; 
    border: 0.1px;
}

.index-video-title p {
    margin-left: 6px;
    margin-top: 4px; 
    font-size: 12px; 
    color: #fff; 
    font-weight: 400;
    width:50%; 
    float: left;
}

.index-video-title a {
    margin: 6px auto;
    margin-right: 12px; 
    font-size: 12px; 
    font-style: oblique; 
    color: #fff; 
    text-align: right; 
    font-weight: 400;
    float: right;
}

.index-video-content {
    width: 100%;
    margin-top: 30px;
}

.index-video-item {
    width: 50%; 
    float: left; 
    /*margin-left: 5%; */
  /*  height: 190px;
    border: 0.1px;
}*/
/*video*/
/*.index-video-item video
{
    width: 86% ;
    margin-left: 7%;
    height: 150px;
    background-color: black
}

.index-video-item img {
    width: 100%; 
    height: 150px;
}

.index-video-item p {
    text-align: center; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    margin-top: 10px; 
    padding: 0 5px 0 5px;
}

.index-article {
    height: 100%; 
    background-color: #F5F5F5; 
    overflow:hidden;  
    margin-top:30px;
}

.index-article-title {
    height: 25px;  
    background-color: #1792CD; 
    padding: 0.1px; 
    border: 0.1px;
}

.index-article-title p {
    margin-left: 6px;
    margin-top: 4px; 
    font-size: 12px; 
    color: #fff; 
    font-weight: 400;
    width:50%; 
    float: left;
}

.index-article-title a {
    margin: 6px auto;
    margin-right: 12px; 
    font-size: 12px; 
    font-style: oblique; 
    color: #fff; 
    text-align: right; 
    font-weight: 400;
    float: right;
}

.index-article-content {
    width: 100%;
    margin-top: 20px;
}

.index-article-item {
    width: 65%; 
    float: left; 
    margin-left: 10%; 
    height: 120px; 
}

.index-article-item p {
    line-height: 25px; 
    text-decoration: underline; 
    font-style: oblique; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.article-item-more {
    width: 20%; 
    float: left; 
    margin-left: 5%; 
    height: 120px;
}

.article-item-more p {
    line-height: 25px; 
    text-decoration: underline; 
    font-style: oblique; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.index-voice {
    height: 100%; 
    background-color: #F5F5F5; 
    overflow:hidden;  
    margin-top:30px;
}

.index-voice-title {
    height: 25px;  
    background-color: #1792CD; 
    padding: 0.1px; 
    border: 0.1px;
}

.index-voice-title p {
    margin-left: 6px;
    margin-top: 4px; 
    font-size: 12px; 
    color: #fff; 
    font-weight: 400;
    width:50%; 
    float: left;
}

.index-voice-title a {
    margin: 6px auto;
    margin-right: 12px; 
    font-size: 12px; 
    font-style: oblique; 
    color: #fff; 
    text-align: right; 
    font-weight: 400;
    float: right;
}

.index-voice-content {
    width: 100%;
    margin-top: 20px;
}

.index-voice-item {
    width: 50%; 
    float: left; 
    margin-left: 10%; 
    height: 120px; 
}

.index-voice-item p {
    line-height: 35px; 
    text-decoration: underline; 
    font-style: oblique; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.index-login {
    width: 75%;
    margin-left: 15%; 
    height: 100%; 
    background-color: #F5F5F5; 
    padding-bottom: 10px;
}

.index-login-title {
    height: 25px;  
    background-color: #1792CD; 
    padding: 0.1px; 
    border: 0.1px;
}

.index-login-title p {
    margin-left: 6px;
    margin-top: 4px; 
    font-size: 12px; 
    color: #fff; 
    font-weight: 400
}

.index-login-content {
    height: auto;
    width: 100%;
    margin-top: 60px; 
    margin-left: 20px; 
    padding: 0.1px;
    border:0.1px;
}

.login-input {
    height: 30px; 
    font-size: 12px;
}

.login-btn {
    height: 30px; 
    width: 60px; 
    padding: 0; 
    text-align: center; 
    line-height: 0; 
    font-size: 12px;
}

.forget-pwd {
    height: 30px; 
    width: 60px; 
    padding: 0;
    font-weight: 400; 
    line-height:30px; 
    font-size: 12px;
}

.register {
    font-size: 12px; 
    font-weight: 400; 
    width: 85%; 
    text-align:right;
}

.index-link {
    width: 75%;
    margin-left: 15%; 
    height: 100%; 
    background-color: #F5F5F5; 
    padding-bottom: 10px; 
    margin-top: 30px; 
    padding-bottom: 200px;
}

.index-link-title {
    height: 25px;  
    background-color: #1792CD; 
    padding: 0.1px; 
    border: 0.1px;
}

.index-link-title p {
    margin-left: 6px;
    margin-top: 4px; 
    font-size: 12px; 
    color: #fff; 
    font-weight: 400
}

.index-link-content {
    height: auto;
    width: 100%;
    margin-top: 30px; 
    margin-left: 20px; 
    padding: 0.1px;
    border:0.1px;
}

.index-link-content img {
    width: 80%; 
    text-align: center;
    height: 25px;
}
      
        .layui-breadcrumb a {
            color: #FFFFFF!important;
        }*/
        /*分割线颜色*/
       /* .layui-box{
            color: #fff !important;
        }*/
        /*覆盖的hover*/
     /*   .layui-breadcrumb a:hover{
            color: black !important;
        }


        .content-search {
            height: 250px;
            top: 100px;
            margin: 20px auto;
            background-color: #E8E8E8;
            text-align: center;
            align-self: center;

        }

        .search-input {
            width: 45%;
            height: 38px;
            margin:10px auto;
            margin-top: 90px;
            border: 1px solid #eee;
        }

        .site-tree {
            border: 1px solid #eee;
            width: 90%;
            font-size: 14px;
            background-color: #FFFFFF;
            margin:0px auto;
            margin-top: 30px;
            min-height: 500px;
            height: 100%; 
            padding-bottom: 60px;
        }

        .site-tree .layui-tree li a em {
            font-size: 12px;
            color: #bbb;
            padding-right: 5px;
            font-style: normal;
        }

        .site-tree-noicon {
            width: 220px;
            height: 32px;
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        @media (min-width: 768px) {
            .container {
                width: 750px;
            }
        }
        @media (min-width: 992px) {
            .container {
                width: 970px;
            }
        }
        @media (min-width: 1200px) {
            .container {
                width: 1170px;
            }
        }
        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .content-title {
            font-size: 14px;
            background-color: #009acd;
            margin-left: 0px;
            left: 0px;
            text-align: left;
        }*/

/*音频样式*/
  /*  .db {
            display: block;
        }
        .weixinAudio {
            line-height: 1.5;
            padding-bottom: 5px;
        }

        .audio_area {
            display: inline-block;
            width: 80%;
            vertical-align: top;
            margin: 0px 1px 0px 0;
            font-size: 0;
            position: relative;
            font-weight: 400;
            text-decoration: none;
            -ms-text-size-adjust: none;
            -webkit-text-size-adjust: none;
            text-size-adjust: none;
        }

        .audio_wrp {
            border: 1.5px solid #ebebeb;
            background-color: #fcfcfc;
            overflow: hidden;
            height: 25px;
            /*padding: 12px 20px 12px 12px;*/
   /*     }

        .audio_play_area {
            float: left;
            margin: 5px 22px 10px 5px;
            font-size: 0;
           /* width: 18px;
            height: 20px;*/
      /*  }

        .playing .audio_play_area .icon_audio_default {
            display: block;
        }

        .audio_play_area .icon_audio_default {
            background: transparent url(../images/iconloop.png) no-repeat 0 0;
            width: 18px;
            height: 20px;
            vertical-align: middle;
            display: inline-block;
            -webkit-background-size: 54px 25px;
            background-size: 54px 25px;
            background-position: -36px center;
        }

        .audio_play_area .icon_audio_playing {
            background: transparent url(../images/iconloop.png) no-repeat 0 0;
            width: 18px;
            height: 20px;
            vertical-align: middle;
            display: inline-block;
            -webkit-background-size: 54px 25px;
            background-size: 54px 25px;
            -webkit-animation: audio_playing 1s infinite;
            background-position: 0px center;
            display: none;
        }

        .audio_area .pic_audio_default {
            display: none;
            width: 18px;
        }

        .audio_area .audio_length {
            float: right;
            font-size: 14px;
            margin-top: 5px;
            padding-right: 10px;
            color: #8c8c8c;
        }


        .audio_area .audio_title {
            font-weight: 400;
            font-size: 17px;
            margin-top: -2px;
            margin-bottom: -3px;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
        }

        .playing .audio_play_area .icon_audio_default {
            display: none;
        }

        .playing .audio_play_area .icon_audio_playing {
            display: inline-block;
        }

        @-webkit-keyframes audio_playing {
            30% {
                background-position: 0px center;
            }
            31% {
                background-position: -18px center;
            }
            61% {
                background-position: -18px center;
            }
            61.5% {
                background-position: -36px center;
            }
            100% {
                background-position: -36px center;
            }
        }*/











