
html{-webkit-text-size-adjust:none;}

.powerpoint-title{
    margin-top: 30px;
    height: 50px;
    width: 95%;
    margin-left: 5%;
    background-color: #EBEBEB;
    padding: 0.1px;
    border: 0.1px;
}
.powerpoint-title h2{
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 15px;
    width: 100px;
    float: left;
} 
.powerpoint-title .instrt{
    font-size: 14px;
    width: 250px;
    margin-top: 15px;
    font-weight: 300;
    color: red;
    float: left;
}

/*content*/
.powerpoint-content{
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
    margin-top: 20px;
    overflow: auto;
}
.powerpoint-content .powerpoint-show{
    margin-top: 30px;
    width: 45%;
    margin-left: 5%;
    min-width: 300px;
    height: 160px;
    float: left;
    background-color: #fff;
    border-bottom: 1.5px solid #EBEBEB;
}
.powerpoint-content .powerpoint-show .content-show{
    width: 100%;
    height: 130px;
    margin-left: 0;
    padding: 0;
    border:0.1px;
}

.powerpoint-content .powerpoint-show .content-show .powerpoint-img{
    width: 45%;
    height: 130px;
    float: left;
    border: 0.1px;
    padding: 0.1px;
}
.powerpoint-content .powerpoint-show .content-show .powerpoint-img .on{
    width: 100%;
    height: 100%;
    background: url('/static/images/powerpoint-logo.png') no-repeat 0 0;
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 10s linear infinite;
    background-size: 100% 100%;
}
.powerpoint-content .powerpoint-show .content-show .powerpoint-img .off{
    width: 100%;
    height: 100%;
    background: url('/static/images/powerpoint-logo.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.powerpoint-content .powerpoint-show .content-show .show-right{
    height: 100px;
    width: 50%;
    float: right;
    background-color: #fff;
}
.powerpoint-content .powerpoint-show .content-show .show-right .download{
    margin-top: 35px;
}
.powerpoint-content .powerpoint-show .content-show .show-right .download a{
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    border: 0;
}
.powerpoint-content .powerpoint-show .content-show .show-right h2{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.powerpoint-content .powerpoint-show .content-show .show-right p{
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
}
.powerpoint-content .powerpoint-show .content-show .show-right .left-date{
    width: 80px;
    float: left;
    margin-top: 5px;
    font-weight: 250;
}
.powerpoint-content .powerpoint-show .content-show .show-right .right-date{
    width: 120px;
    float: right;
    margin-top: 5px;
    margin-right: 20%;
    font-weight: 300;
}











