/*include login and register css*/
html body{
	margin: 0;
	padding: 0;
	height: 100%;
}
html body .div-layout{
	height: auto;
	position: relative; 
	min-height: 100%;
	padding-bottom: 240px;
}
.login-show{
	width: 80%;
	margin-top: 100px;
	margin-left: 10%;
	height: 400px;
	background-color: #fff;
	border:2px solid #EBEBEB;
	padding: 0.1px;
	border-radius: 10px;
}
.login-show h1{
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	margin-top: 50px;
	color: #009ACD;
	letter-spacing: 3px;
}
.login-show .login-content{
	width: 380px;
	height: 200px;
	margin:50px auto;
}
.login-show .login-content .layui-form-label{
	background-color: #EBEBEB;
}
.login-show .login-content .layui-input-block{
 	margin-left: 80px; 
 	width: 300px;
}

/*注册*/

.register-show{
	width: 80%;
	margin-top: 40px;
	margin-left: 10%;
	height: 500px;
	background-color: #fff;
	border:2px solid #EBEBEB;
	padding: 0.1px;
	border-radius: 10px;
}
.register-show h1{
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	margin-top: 30px;
	color: #009ACD;
	letter-spacing: 3px;
}

.register-show .register-content{
	width: 380px;
	height: 200px;
	margin:30px auto;
}
.register-show .register-content .layui-form-label{
	background-color: #EBEBEB;
}
.register-show .register-content .layui-input-block{
 	margin-left: 80px; 
 	width: 300px;
}













