
.video-detail-line{
    margin-top: 15px;
    width: 90%;
    height: 1.5px;
    margin-left: 10%;
    background-color: #bfcace;
}
.video-list-title{
    margin-top: 30px;
    height: 50px;
    width: 95%;
    margin-left: 5%;
    background-color: #EBEBEB;
    padding: 0.1px;
    border: 0.1px;
}
.video-list-title h2{
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 15px;
    width: 100px;
    float: left;
} 

.video-content{
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
    margin-top: 20px;
}
.video-content .video-list-content{
    width: 40%;
    height: 160px;
    margin-top: 25px;
    margin-left: 5%;
    float: left;
    overflow: auto;
    border-bottom: 1.5px solid #bfcace;
}
.video-content .video-list-content a:hover{
    color: #009ACD;
}
.video-content .video-list-content .content{
    height: 130px;
    width: 100%;
    float: left;
    margin-left: 0;
    padding: 0.1px;
}
.video-content .video-list-content .content .video-show{
    height: 100%;
    width: 45%;    float: left;
}
.video-content .video-list-content .content .video-show video{
    height: 100%;
    width: 100%;
    background-color: black;
}
.video-content .video-list-content .content .video-label{
    padding-top:10px;
    height: 100%;
    width: 50%;
    background-color: #fff;
    float: right;
}
.video-content .video-list-content .content .video-label h2{
    vertical-align: middle;
    font-size: 16px;
    width: 90%;
    margin-left: 15px;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.video-content .video-list-content .content .video-label .left-label{
    font-size: 14px;
    width: 40%;
    margin-top: 11px;
    margin-left: 15px;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: left;
}
.video-content .video-list-content .content .video-label .right-label{
    font-size: 14px;
    width: 40%;
    margin-top: 10px;
    text-align: center;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: right;
}

.video-content .video-list-content .content .video-label .author{
    margin-top: 25px;
    margin-left: 17px;
    margin-right: 1px;
}



