.video-video {
    height: auto; 
    background-color: #F5F5F5; 
    overflow:hidden; 
    padding: 0.1px;
    border: 0.1px;
    padding-bottom: 20px;
}
.video-video .video-title
{
	width: 100%;
	height: 30px;  
    background-color: #1792CD; 
    padding: 0.1px; 
    border: 0.1px;
}
.video-video .video-title p{
	margin-left: 10px;
    margin-top: 7px; 
    font-size: 12px; 
    color: #fff; 
    font-weight: 400;
    width:100%; 
    float: left;
}
.video-video .video-content
{
	width: 100%;
	margin-top: 20px;
	height: 350px;
	overflow: hidden;
}
.video-video .video-content .video-item {
    width: 90%; 
    float: left; 
    margin-left: 5%; 
    height: 300px;
}
.video-video .video-content .video-item video
{
	height: 300px;
	width: 100%;
	background-color: black;
}
.video-video .video-content .video-item p
{
	font-size: 18px;
	font-weight: 400;
	padding-top: 15px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    color: #1792CD;
}

.video-list
{
	width: 75%;
    margin-left: 15%; 
    height: 100%; 
    background-color: #F5F5F5; 
    padding-bottom: 20px;
}
.video-list .video-title
{
	width: 100%;
	height: 30px;  
    background-color: #1792CD; 
    padding: 0.1px; 
    border: 0.1px;
}
.video-list .video-title p{
	margin-left: 10px;
    margin-top: 7px; 
    font-size: 12px; 
    color: #fff; 
    font-weight: 400;
    width:100%; 
    float: left;
}
.video-list .flow-default
{
	height: 350px; 
	margin-top: 15px; 
	overflow: auto;
	border: 0.1px;
	padding: 0.1px;
}
.video-list .flow-default li
{
	height: 70px;
	border-bottom: 0.3px solid #1792CD;
	padding-top: 5px;
}

.video-list .flow-default .title-image{
	width: 80px; 
	height:60px; 
	margin-left:5px;
	padding-right: 10px;
	float: left;
}
.video-list .flow-default li p{
	padding-right: 5px; 
	line-height: 20px; 
	font-size: 12px;
	color: #1792CD;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.video-list .flow-default .font-set{
	font-size: 10px;
}
.video-list .apointer{
	cursor:pointer;
}

.video-detail-line{
    margin-top: 20px;
    width: 96%;
    height: 1.5px;
    margin-left: 3%;
    background-color: #bfcace;
}

.video-list-content{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    /*background-color: #F5F5F5;*/
}
.video-list-content .content{
    height: 100%;
    width: 35%;
    float: left;
    margin-left: 5%;
    /*background-color: #fff0f5;*/
    padding: 0.1px;
}
.video-list-content .content .video-show{
    height: 100%;
    width: 50%;
    float: left;
}
.video-list-content .content .video-show video{
    height: 100%;
    width: 100%;
    background-color: black;
}
.video-list-content .content .video-label{
    padding-top:10px;
    height: 100%;
    width: 50%;
    float: right;
}
.video-list-content .content .video-label h2{
    font-size: 16px;
    width: 90%;
    margin-left: 10px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.video-list-content .content .video-label .left-label{
    font-size: 14px;
    width: 40%;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: left;
}
.video-list-content .content .video-label .right-label{
    font-size: 14px;
    width: 40%;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: right;
}















